<div class="row">
  <div class="col-sm-6 new-item-container">
    <h3>New Item</h3>
    <p>
      <input type="checkbox" class="form-control" ng-model="allDone" ng-click="markAll()"/>
      Mark All Done
    </p>
    <div id="form-wrapper">
      <input type="text" class="task form-control" placeholder="Task" ng-model="newTask.action">
      <input type="checkbox" ng-model="newTask.important">
      <button class="new-task form-control" ng-click="addNewTask()">New task</button>
    </div>
    <button ng-click="clearCompleted()"
    class="btn btn-danger btn-clear form-control">
      <strong>Clear complete</strong>
    </button>
  </div>
  <div class="col-sm-6 reminders-container">
    <h3>Reminders</h3>
    <ul>

      <li ng-repeat="todo in todos" ng-class="{ q1: todo.important }"
      ng-style="{'background-color': todo.color}" ng-dblclick="changeItem(todo)"
      class="todo-item">
        <input type="checkbox" ng-model="todo.done">
          <span class="action-text" ng-class="{done: todo.done}">
            {{todo.action}}
          </span>
        <form ng-show="todo.newItem" ng-submit="changeText(todo)">
          <input type="input" ng-model="newAction">
          <button type="submit">Submit</button>
        </form>
      </li>

    </ul>
  </div>
</div>
