<div class="row">
  <div class="col-sm-6 new-item-container">
    <h3>New Item</h3>
    <div id="form-wrapper">
      <input type="text" class="task form-control" placeholder="Task" ng-model="newTask.action">
      <input type="checkbox" ng-model="newTask.important" class="set-important"><p class="important-text">Set Important</p>
      <button class="btn btn-success new-task form-control" ng-click="addNewTask()">New task</button>
    </div>
    <div class="btn-group button-container">
      <button ng-click="toggleMarkAll()"
      class="btn btn-warning btn-clear">
        <strong>Mark all</strong>
      </button>
      <button ng-click="clearCompleted()"
      class="btn btn-danger btn-clear">
        <strong>Clear complete</strong>
      </button>
    </div>
  </div>
  <div class="col-sm-6 reminders-container">
    <h3>Reminders</h3>
    <ul>

      <li ng-repeat="todo in todos track by $index" ng-class="{ q1: todo.important }"
      ng-style="{'background-color': todo.color}" ng-dblclick="todo.newItem = true"
      class="todo-item">
        <input type="checkbox" ng-model="todo.done">
          <span class="action-text" ng-class="{done: todo.done}"
                ng-dblclick="changeItem(todo)" ng-hide="todo.newItem">
            {{todo.action}}
          </span>
          <span>
            <input ng-show="todo.newItem" type="input"
                   ng-model="todo.action" class="new-input"
                   ng-keyup="updateValue(todo, $event.keyCode, $index)">
          </span>
      </li>

    </ul>
  </div>
</div>
